/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*GENERICS*/
body{
    font-family: 'Rubik Mono One', sans-serif;
}

h1{
    font-size: 90px;
    text-align: center;
}

.text-color-yellow{
    color: yellow;
}
.text-color-green{
    color: green;
}


.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}
.bg-yellow{
    background-color: yellow;
}


.flex{
    display: flex;
}


/*UTILS*/
.container{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid;
}
.full-page{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    border: 1px solid;
}


#shoe-differente{
  margin: 0 auto;

}
#shoe-tommyhilfiger{
    margin: 0 auto;
}
#shoe-converse{
    margin: 0 auto;
}


.text-contenitore{
    width: 750px;
}

/*MENU NAV*/

nav{

}
.menu{
    width: 200px;
    height: 70px;
    border: 1px solid;
    position: fixed ;

}
.menu a{
    color: black;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;

    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;

    text-align: center;
    line-height: 40px;

}

.menu ul{
    list-style: none;

}
